$primary-color: "primary-color";
$secondary-color: "secondary-color";
$tertiary-color: "tertiary-color";
$quaternary-color: "quaternary-color";

$teamColors: (
  "WAS": (
    primary-color: #002b5c,
    secondary-color: #e31837,
    tertiary-color: #c4ced4,
    quaternary-color: #ffffff,
  ),
  "CHA": (
    primary-color: #1d1160,
    secondary-color: #00788c,
    tertiary-color: #a1a1a4,
    quaternary-color: #7ab2dd,
  ),
);
