$primary-color: "primary-color";
$secondary-color: "secondary-color";
$tertiary-color: "tertiary-color";
$quaternary-color: "quaternary-color";

$teamColors: (
  "WAS": (
    primary-color: #002b5c,
    secondary-color: #e31837,
    tertiary-color: #c4ced4,
    quaternary-color: #ffffff,
  ),
  "CHA": (
    primary-color: #1d1160,
    secondary-color: #00788c,
    tertiary-color: #a1a1a4,
    quaternary-color: #7ab2dd,
  ),
  "ATL": (
    primary-color: #c8102e,
    secondary-color: #fdb927,
    tertiary-color: #000000,
    quaternary-color: #9ea2a2,
  ),
  "MIA": (
    primary-color: #000000,
    secondary-color: #98002e,
    tertiary-color: #f9a01b,
    quaternary-color: #ffffff,
  ),
  "ORL": (
    primary-color: #0077c0,
    secondary-color: #000000,
    tertiary-color: #c4ced4,
    quaternary-color: #ffffff,
  ),
  "NY": (
    primary-color: #006bb6,
    secondary-color: #f58426,
    tertiary-color: #bec0c2,
    quaternary-color: #000000,
  ),
  "PHI": (
    primary-color: #006bb6,
    secondary-color: #ed174c,
    tertiary-color: #002b5c,
    quaternary-color: #c4ced4,
  ),
  "BKN": (
    primary-color: #000000,
    secondary-color: #ffffff,
    tertiary-color: #707271,
    quaternary-color: #ffffff,
  ),
  "BOS": (
    primary-color: #008348,
    secondary-color: #bb9753,
    tertiary-color: #000000,
    quaternary-color: #ffffff,
  ),
  "TOR": (
    primary-color: #ce1141,
    secondary-color: #000000,
    tertiary-color: #a1a1a4,
    quaternary-color: #b4975a,
  ),
  "CHI": (
    primary-color: #ce1141,
    secondary-color: #000000,
    tertiary-color: #ffffff,
    quaternary-color: #ffffff,
  ),
  "CLE": (
    primary-color: #6f263d,
    secondary-color: #fdb81c,
    tertiary-color: #041e42,
    quaternary-color: #000000,
  ),
  "IND": (
    primary-color: #002d62,
    secondary-color: #fdbb30,
    tertiary-color: #bec0c2,
    quaternary-color: #ffffff,
  ),
  "DET": (
    primary-color: #1d428a,
    secondary-color: #c8102e,
    tertiary-color: #bec0c2,
    quaternary-color: #002d62,
  ),
  "MIL": (
    primary-color: #00471b,
    secondary-color: #eee1c6,
    tertiary-color: #0077c0,
    quaternary-color: #000000,
  ),
  "MIN": (
    primary-color: #0c2340,
    secondary-color: #78be20,
    tertiary-color: #236192,
    quaternary-color: #9ea2a2,
  ),
  "UTA": (
    primary-color: #002b5c,
    secondary-color: #f9a01b,
    tertiary-color: #00471b,
    quaternary-color: #ffffff,
  ),
  "OKC": (
    primary-color: #007ac1,
    secondary-color: #ef3b24,
    tertiary-color: #fdbb30,
    quaternary-color: #002d62,
  ),
  "POR": (
    primary-color: #e03a3e,
    secondary-color: #000000,
    tertiary-color: #ffffff,
    quaternary-color: #ffffff,
  ),
  "DEN": (
    primary-color: #0e2240,
    secondary-color: #fec524,
    tertiary-color: #8b2131,
    quaternary-color: #244289,
  ),
  "MEM": (
    primary-color: #5d76a9,
    secondary-color: #12173f,
    tertiary-color: #707271,
    quaternary-color: #f5b112,
  ),
  "HOU": (
    primary-color: #ce1141,
    secondary-color: #000000,
    tertiary-color: #9ea2a2,
    quaternary-color: #373a36,
  ),
  "NO": (
    primary-color: #002b5c,
    secondary-color: #b4975a,
    tertiary-color: #e31837,
    quaternary-color: #ffffff,
  ),
  "SA": (
    primary-color: #000000,
    secondary-color: #c4ced4,
    tertiary-color: #c4ced4,
    quaternary-color: #ffffff,
  ),
  "DAL": (
    primary-color: #0064b1,
    secondary-color: #00285e,
    tertiary-color: #bbc4ca,
    quaternary-color: #000000,
  ),
  "GS": (
    primary-color: #006bb6,
    secondary-color: #fdb927,
    tertiary-color: #26282a,
    quaternary-color: #ffffff,
  ),
  "LAL": (
    primary-color: #552583,
    secondary-color: #fdb927,
    tertiary-color: #000000,
    quaternary-color: #ffffff,
  ),
  "LAC": (
    primary-color: #c8102e,
    secondary-color: #1d428a,
    tertiary-color: #000000,
    quaternary-color: #bec0c2,
  ),
  "PHO": (
    primary-color: #1d1160,
    secondary-color: #e56020,
    tertiary-color: #000000,
    quaternary-color: #63727a,
  ),
  "SAC": (
    primary-color: #5a2b81,
    secondary-color: #63727a,
    tertiary-color: #000000,
    quaternary-color: #ffffff,
  ),
);
