@import "../abstracts/_mixins.scss";

@include colorMixin(".team__wrapper") {
  background-color: rgba(color-picker($primary-color), 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;

  padding: 0;
  padding: 1rem;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  // &:nth-child(odd) {
  //   margin: 0.5rem 0.75rem 0.5rem 0;
  // }
  // &:nth-child(even) {
  //   margin: 0.5rem 0 0.5rem 0.75rem;
  // }
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    cursor: pointer;
    .team__image {
      transform: rotateY(360deg);
    }
  }
  .team__image {
    transition: all 2s;
    img {
      width: 150px;
      height: 150px;
      object-fit: contain;
    }
  }
  .team__info {
    margin: auto;
    .team__name {
      display: flex;
      flex-direction: row;
      color: white;
      font-size: 1rem;
      .team__name--city {
        margin-right: 1rem;
      }
    }
  }
}
